<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ProblemMath408TagsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ProblemMath408Tags">
            <id property="id" column="id" />
            <result property="tag_id" column="tag_id" />
            <result property="problem_id" column="problem_id" />
            <result property="is_delete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tag_id,problem_id,is_delete
    </sql>
</mapper>
