<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.AcMath408ProblemMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.math408.AcMath408Problem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="problem_id" column="problem_id" jdbcType="BIGINT"/>
            <result property="uuid" column="uuid" jdbcType="BIGINT"/>
            <result property="create_by_id" column="create_by_id" jdbcType="BIGINT"/>
            <result property="create_by_name" column="create_by_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by_id" column="update_by_id" jdbcType="BIGINT"/>
            <result property="update_by_name" column="update_by_name" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="is_delete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,problem_id,`uuid`,
        create_by_id,create_by_name,create_time,
        update_by_id,update_by_name,update_time,
        status,is_delete
    </sql>
</mapper>
