<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.CompetitionsUserMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.competiton.CompetitionsUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uuid" column="uuid" jdbcType="BIGINT"/>
            <result property="competition_id" column="competition_id" jdbcType="BIGINT"/>
            <result property="join_time" column="join_time" jdbcType="TIMESTAMP"/>
            <result property="is_participant" column="is_participant" jdbcType="TINYINT"/>
            <result property="score" column="score" jdbcType="BIGINT"/>
            <result property="ac_num" column="ac_num" jdbcType="BIGINT"/>
            <result property="time_penalty" column="time_penalty" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,competition_id,
        join_time,is_participant,score,
        ac_num,time_penalty
    </sql>
</mapper>
