<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.CourseProblemsAcNumMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.course.CourseProblemsAcNum">
            <id property="ac_num_id" column="ac_num_id" jdbcType="BIGINT"/>
            <result property="course_id" column="course_id" jdbcType="BIGINT"/>
            <result property="problem_id" column="problem_id" jdbcType="BIGINT"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ac_num_id,course_id,problem_id,
        num
    </sql>
</mapper>
