<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.CourseProblemsTypeMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.course.CourseProblemsType">
            <id property="type_id" column="type_id" jdbcType="BIGINT"/>
            <result property="course_id" column="course_id" jdbcType="BIGINT"/>
            <result property="course_problems" column="course_problems" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,course_id,course_problems
    </sql>
</mapper>
