<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PostsThumbsMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.posts.PostsThumbs">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="post_id" column="post_id" jdbcType="BIGINT"/>
            <result property="uuid" column="uuid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,post_id,uuid
    </sql>
</mapper>
