<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ProblemAlgorithmBankMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.algorithm.probleminfo.ProblemAlgorithmBank">
            <id property="problem_id" column="problem_id" jdbcType="BIGINT"/>
            <result property="short_name" column="short_name" jdbcType="VARCHAR"/>
            <result property="english_name" column="english_name" jdbcType="VARCHAR"/>
            <result property="chinese_name" column="chinese_name" jdbcType="VARCHAR"/>
            <result property="difficulty_name" column="difficulty_name" jdbcType="VARCHAR"/>
            <result property="create_by_id" column="create_by_id" jdbcType="BIGINT"/>
            <result property="create_by_name" column="create_by_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by_id" column="update_by_id" jdbcType="BIGINT"/>
            <result property="update_by_name" column="update_by_name" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="is_delete" column="is_delete" jdbcType="INTEGER"/>
            <result property="source_name" column="source_name" jdbcType="VARCHAR"/>
            <result property="test_total" column="test_total" jdbcType="BIGINT"/>
            <result property="ac_total" column="ac_total" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        problem_id,short_name,english_name,
        chinese_name,difficulty_name,create_by_id,
        create_by_name,create_time,update_by_id,
        update_by_name,update_time,status,
        is_delete,source_name,test_total,
        ac_total,description,url
    </sql>
</mapper>
