<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ProblemAlgorithmLimitMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.models.domain.algorithm.probleminfo.ProblemAlgorithmLimit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="problem_id" column="problem_id" jdbcType="BIGINT"/>
            <result property="stdout_max" column="stdout_max" jdbcType="INTEGER"/>
            <result property="stderr_max" column="stderr_max" jdbcType="INTEGER"/>
            <result property="cpu_limit" column="cpu_limit" jdbcType="INTEGER"/>
            <result property="memory_limit" column="memory_limit" jdbcType="INTEGER"/>
            <result property="proc_limit" column="proc_limit" jdbcType="INTEGER"/>
            <result property="create_by_id" column="create_by_id" jdbcType="BIGINT"/>
            <result property="create_by_name" column="create_by_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="update_by_id" column="update_by_id" jdbcType="BIGINT"/>
            <result property="update_by_name" column="update_by_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="is_delete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,stdout_max,
        stderr_max,cpu_limit,memory_limit,
        proc_limit,create_by_id,create_by_name,
        create_time,update_time,update_by_id,
        update_by_name,status,is_delete
    </sql>
</mapper>
